{% extends 'base_inventory.html' %} {% block content %}
<div class="container-sm">
  <div class=p-2>
    <h3>Post</h3>
    <div class="mb-4 form-control bg-black bg-opacity-50 text-white border border-secondary">
      {{ article.author }}<br />
      {{ article.pub_date }}<br />
      <p class="text-decoration-underline">{{ article.title }}</p>
      {{ article.text }}
    </div>
    <h3>Comments</h3>
    {% for comment in comments %}
    <div class="mb-4 form-control bg-black bg-opacity-50 text-white border border-secondary">
      {{ comment.author }}<br />
      <p>{{ comment.date_posted }}</p>
      {{ comment.content }}<br />
    </div>
      {% endfor %}
      <a href="javascript:history.back()" class="mb-4 btn btn-outline-success">Return to Posts</a>
    <form action="{% url 'brew_post_details' article.id %}" method="POST">
      {% csrf_token %}
      <h3>Post a Comment</h3>
      
      <div class="input-group mb-4">
        <span class="input-group-text">Comment</span>
        <textarea class="form-control bg-black bg-opacity-50 text-white" rows="5" name="content"
          aria-label="With textarea"></textarea>
      </div>
      
        <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>
  </div>
</div>
</div>
{% endblock %}