{% extends 'base_inventory.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-auto me-auto mt-2">
            <h3>{{ brew_prop.name }} Brewery</h3>
        </div>
        <div class="col-auto mt-2">
            <a href="{% url 'add' brew_prop.id %}" class="btn btn btn-outline-success">Add/Update Inventory</a>
        </div>

    </div>
    <div class="container">
        Brewers
        {% for brewer in brew_prop.brewers.all %}
        • {{brewer}}
        {% endfor %}
        <div class="row my-4">
            <div class="col-md-6">
                <div class="rounded bg-white text-white bg-opacity-75 border border-secondary">
                    <canvas id="myChart1" width="400" height="400"></canvas>
                    <script>
                        const ctx1 = document.getElementById('myChart1').getContext('2d');
                        const myChart1 = new Chart(ctx1, {
                            type: 'pie',
                            data: {
                                labels: [{% for data in keg_data %} '{{ data.beer }}',{% endfor %}],
                        datasets: [{
                            label: 'Kegs',
                            data: [{% for data in keg_data %} '{{ data.quantity }}', {% endfor %}],

                            backgroundColor: [
                                'rgba(200, 0, 10, 0.75)',
                                'rgba(120, 80, 200, 0.75)',
                                'rgba(50, 80, 200, 0.75)',
                                'rgba(80, 200, 200, 0.75)',
                                'rgba(50, 100, 10, 0.75)',
                                'rgba(250, 200, 60, 0.75)',
                                'rgba(250, 80, 10, 0.75)',
                                'rgba(100, 30, 0, 0.75)'
                            ],
                                borderColor: [
                                    'rgba(200, 0, 10, 1)',
                                    'rgba(120, 80, 200, 1)',
                                    'rgba(50, 80, 200, 1)',
                                    'rgba(80, 200, 200, 1)',
                                    'rgba(50, 100, 10, 1)',
                                    'rgba(250, 200, 60, 1)',
                                    'rgba(250, 80, 10, 1)',
                                    'rgba(100, 30, 0, 1)'
                                ],
                                    borderWidth: 1
                                }]
                            },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                        });
                    </script>
                </div>
            </div>
            <div class="col-md-6">
                <div class="rounded bg-white text-white bg-opacity-75 border border-secondary">
                    <canvas id="myChart" width="400" height="400"></canvas>
                    <script>
                        const ctx = document.getElementById('myChart').getContext('2d');
                        const myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: [{% for data in keg_data %} '{{ data.beer }}',{% endfor %}],
                        datasets: [{
                            label: 'Beer Kegs',
                            data: [{% for data in keg_data %} '{{ data.quantity }}', {% endfor %}],
                            backgroundColor: [
                                'rgba(200, 0, 10, 0.75)',
                                'rgba(120, 80, 200, 0.75)',
                                'rgba(50, 80, 200, 0.75)',
                                'rgba(80, 200, 200, 0.75)',
                                'rgba(50, 100, 10, 0.75)',
                                'rgba(250, 200, 60, 0.75)',
                                'rgba(250, 80, 10, 0.75)',
                                'rgba(100, 30, 0, 0.75)'
                            ],
                                borderColor: [
                                    'rgba(200, 0, 10, 1)',
                                    'rgba(120, 80, 200, 1)',
                                    'rgba(50, 80, 200, 1)',
                                    'rgba(80, 200, 200, 1)',
                                    'rgba(50, 100, 10, 1)',
                                    'rgba(250, 200, 60, 1)',
                                    'rgba(250, 80, 10, 1)',
                                    'rgba(100, 30, 0, 1)'
                                ],
                                    borderWidth: 1
                                }]
                            },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-12 mb-3">
                <h3>Orders</h3>
                <div
                    class="table-responsive form-control rounded bg-secondary text-white bg-opacity-50 p-3 mb-2 border border-secondary">
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th scope="col">Beer/size</th>
                                <th scope="col">Qty.</th>
                                <th scope="col">Property</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Manager</th>
                                <th scope="col">Updated</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders reversed %}
                            <tr>
                                <td> {{ order.beer }} </td>
                                <td> {{ order.quantity }} </td>
                                <td> {{ order.property }} </td>
                                <td>{{ order.order_date }} </td>
                                <td> {{ order.manager}} </td>
                                <td> {{ order.updated}} </td>
                                <td> {{order.status }} </td>
                                <td> <a href="{% url 'order_update' order.id brew_prop.id %}"
                                        class="btn btn-sm btn-warning">Update</a></td>
                                <td><a href="{% url 'cancel' order.id brew_prop.id %}" method="POST"
                                        class="btn btn-sm btn-danger">Delete</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <form action="{% url 'details' brew_prop.id %}" method="POST">
                    {% csrf_token %}
                    <h3>Place an Order</h3>
                    <div>
                        <div class="input-group mb-4">
                            <span class="input-group-text" id="inputGroup-sizing-default">Property</span>
                            <select name="property"
                                class="form-control bg-secondary text-white bg-opacity-50 border border-secondary"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                {% for prop in property %}
                                <option value="{{prop.id}}">{{prop.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-4">
                            <span class="input-group-text" id="inputGroup-sizing-default">Beer/Size</span>
                            <select name="beer"
                                class="form-control bg-secondary text-white bg-opacity-50 border border-secondary"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                {% for keg in keg_data %}
                                <option value="{{keg.id}}">{{keg.beer}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-4">
                            <span class="input-group-text">Quantity</span>
                            <input name="quantity" required
                                class="form-control bg-secondary text-white bg-opacity-50 border border-secondary"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                        </div>
                        <div class="input-group mb-4">
                            <span class="input-group-text" id="inputGroup-sizing-default">Order Date</span>
                            <input type="date" name="order_date" required
                                class="form-control bg-secondary text-white bg-opacity-50 border border-secondary"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                        </div>
                        <button type="submit" class="btn btn-outline-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<div>
    {% endblock %}