{% extends 'base_inventory.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-auto me-auto mt-2">
            <h3>{{ brew_prop.name }} Brewery</h3>
        </div>
        <div class="col-auto mt-2">
            <a href="{% url 'add' brew_prop.id %}" class="btn btn btn-outline-success">Add/Update Inventory</a>
        </div>
    </div>
    <div class="container">
        Brewers
        {% for brewer in brew_prop.brewers.all %}
        • {{brewer.first_name}} {{brewer.last_name}}
        {% endfor %}
        {% if user_data.view_pref == 'Graph' %}
        {% include 'inventory/inventory_graph.html' %}
        {% else %}
        {% include 'inventory/brewery_inventory.html' %}
        {% endif %}
        <div class="row">
            <div class="col-md-4">
                <form action="{% url 'adj_view' brew_prop.id %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group input-group-sm mb-4">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Inventory View</span>
                        <select name="inv_view" class="form-control bg-black bg-opacity-50 text-white"
                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            <option value="{{user_data.view_pref}}">{{user_data.view_pref}} (current)</option>
                            <option value="Graph">Graph</option>
                            <option value="Table">Table</option>
                        </select>
                        <button type="submit" class="btn btn-sm btn-outline-success ms-2">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12 mb-3">
                <h3>Orders</h3>
                {% for order in orders reversed %}
                <div
                    class="table-responsive form-control rounded bg-black bg-opacity-50 text-white p-3 mb-4 border border-secondary">
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th scope="col">Beer/size</th>
                                <th scope="col">Qty.</th>
                                <th scope="col">Property</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Manager</th>
                                <th scope="col">Updated</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> {{ order.beer }} </td>
                                <td> {{ order.quantity }} </td>
                                <td> {{ order.property }} </td>
                                <td> {{ order.order_date }} </td>
                                <td> {{ order.manager.first_name}} {{order.manager.last_name}}</td>
                                <td> {{ order.updated}} </td>
                                <td> {{ order.status }} </td>
                                <td> <a href="{% url 'order_update' order.id brew_prop.id %}"
                                        class="btn btn-sm btn-warning">Update</a></td>
                                <td><a href="{% url 'cancel' order.id brew_prop.id %}" method="POST"
                                        class="btn btn-sm btn-danger">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                    {{ order.notes }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
<div>
{% endblock %}