{% extends 'base_inventory.html' %} {% block content %}
<div class="container-sm p-3">
    <div class="row my-2">
        <div class="col-md-3">
            <form action="" method="POST">
                {% csrf_token %}
                <h3 class="mb-3">Search</h3>
                <div class="input-group mb-4">
                    <span class="input-group-text">Criteria</span>
                    <select name="criteria" required
                        class="form-control bg-secondary text-white bg-opacity-50 border border-secondary"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        <option>Select</option>
                        <option value="property">Property</option>
                        <option value="date">Date</option>
                        <option value="prop_date">Property & Date</option>
                    </select>
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text" id="inputGroup-sizing-default">Property</span>
                    <input type="text" name="property"
                        class="form-control bg-secondary bg-opacity-50 text-white border-secondary"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text">Month</span>
                    <select name="order_month"
                        class="form-control bg-secondary text-white bg-opacity-50 border border-secondary"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        <option>Select</option>
                        <option value="all">All</option>
                        <option value="01">January</option>
                        <option value="02">February</option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text" id="inputGroup-sizing-default">Year</span>
                    <input type="text" name="order_year"
                        class="form-control bg-secondary bg-opacity-50 text-white border-secondary"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                </div>
                <button type="submit" class="mb-4 btn btn-outline-success">Search</button><br>
                <a href="{% url 'brew_details' brew_prop.id %}" class="mb-4 btn btn-outline-success">
                    Return</a>
            </form>
        </div>
        <div class="col-md-9">
            <h3 class="mb-3">Order Archive </h3>
            <div class="container">
                {%if messages%}
                {%for message in messages%}
                <div class="alert text-center" {{message.tags}}>
                    {{message}}
                </div>
                {%endfor%}
                {%endif%}
            </div>
            {% for order in orders reversed %}
            <div
                class="table-responsive form-control rounded bg-black bg-opacity-50 text-white p-3 mb-4 border border-secondary">
                <table class="table text-white">
                    <thead>
                        <tr class="bg-info bg-opacity-50">
                            <th scope="col">Beer/size</th>
                            <th scope="col">Qty.</th>
                            <th scope="col">Property</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Manager</th>
                            <th scope="col">Updated</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{ order.beer }} </td>
                            <td> {{ order.quantity }} </td>
                            <td> {{ order.property }} </td>
                            <td> {{ order.order_date }} </td>
                            <td> {{ order.manager.first_name}} {{order.manager.last_name}}</td>
                            <td> {{ order.updated}} </td>
                            <td> {{ order.status }} </td>
                        </tr>
                    </tbody>
                </table>
                {{ order.notes }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}