{% extends 'base_inventory.html' %} {% block content %}
<div class="container">
    <h3 class="my-3 text-center">Total Brewery Inventory</h3>
    <div class="row">
        {% if user_data.view_pref == 'Graph' %}
        {% include 'inventory/total_inventory_graph.html' %}
        {% else %}
        {% include 'inventory/total_inventory_table.html' %}
        {% endif %}
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-md-4">
            <form action="{% url 'adj_total_view' %}" method="POST">
                {% csrf_token %}
                <div class="input-group input-group-sm my-4">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Inventory View</span>
                    <select name="inv_view" class="form-control bg-black bg-opacity-50 text-white"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        <option value="{{user_data.view_pref}}">{{user_data.view_pref}} (current)</option>
                        <option value="Graph">Graph</option>
                        <option value="Table">Table</option>
                    </select>
                    <button type="submit" class="btn btn-sm btn-outline-success ms-2">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}