{% extends 'base_inventory.html' %} {% block content %}
<div class="container">
  <div class="d-flex my-4 justify-content-center">
    <div class="col-md-8">
      <h3>All Posts</h3>
      <div class="mb-4 form-control bg-black bg-opacity-50 text-white border border-secondary">
        <table class="table text-white">
          <thead>
            <tr class="bg-info bg-opacity-50">
              <th scope="col">Author</th>
              <th scope="col">Post Date</th>
              <th scope="col">Comments</th>
              <th scope="col">Title</th>
            </tr>
          </thead>
          <tbody>
            {% for post in articles reversed %}
            <tr>
              <td> {{post.author}} </td>
              <td> {{post.pub_date}} </td>
              <td> {{post.comments.all | length}} </td>
              <td><a href="{% url 'brew_post_details' post.id%}" class="btn btn-sm btn-success">{{post.title}}</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}