{% extends 'base_inventory.html' %} {% block content %}
<div class="container-sm p-3">
    
    <h3>All Breweries</h3>
    {% for brewery in breweries %}
    <div class="mb-4 form-control bg-secondary text-white bg-opacity-25 border border-secondary">
        <div class="row">
            <div class="col-7">
            {{brewery.name}}<br>
            {{brewery.phone_num}}</br>
            </div>
            <div class="col-2 p-2">
                <a href="{% url 'details' brewery.id%}" class="btn btn-outline-success">Inventory</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
