{% extends 'base.html' %} {% block content %}
<a href='/admin_page/'>Admin</a><br>
<h3>Add Property</h3>

<form action="{%url 'add_property' %}" method="POST">
    {% csrf_token %}

    Code <br>
    <input type="text" name="code"/><br>
    Latitude <br>
    <input type="text" name="latitude"/><br>
    Longitude <br>
    <input type="text" name="longitude"/><br>
    Name <br>
    <input type="text" name="name"/><br>
    Phone # <br>
    <input type="text" name="phone_num"/><br>
    Address <br>
    <input type="text" name="address"/><br>
    City <br>
    <input type="text" name="city"/><br>
    State <br>
    <input type="text" name="state"/><br>
    Zipcode <br>
    <input type="text" name="zipcode"/><br>
    Manager <br>
    <input type="text" name="manager"/><br>
    Brewer <br>
    <input type="text" name="brewer"/><br>
    Deliveries <br>
    <input type="text" name="delivery"/><br>
    Notes <br>
    <textarea rows="6" name="notes"></textarea><br>
    <button type="submit">Submit</button>
</form>

{% endblock %}