{% extends 'base.html' %} {% block content %}
<a href='/admin_page/'>Admin</a><br>
<h3>Add Route</h3>
<p>
<form action="{%url 'add_route' %}" method="POST">
    {% csrf_token %}

    Truck Number<br>
    <select name="truck_num">
        <option value="Truck 1">Truck 1</option>
        <option value="Truck 2">Truck 2</option>
        <option value="Truck 3">Truck 3</option>
    </select>
</p>
<p>
    Driver Name <br>
    {% if drivers %}
    <!-- <select name="properties"> -->
        {% for driver in drivers %}
        <option value="{{driver.id}}">{{driver}}</option>
        <input type="checkbox" id="{{driver.id}}" name="drivers" value="{{driver.id}}">
        <!-- <label for="{{driver.id}}">{{driver}}</label> -->
        {% endfor %}    
    <!-- </select> -->
</p>
    {% else %}
    <a href="{% url 'add_driver'%}">Add a driver first!</a>
    {% endif %}
<p>
    Day<br>
    <select name="day">
        <option value="Mon">Monday</option>
        <option value="Tue">Tuesday</option>
        <option value="Wed">Wednesday</option>
        <option value="Thu">Thursday</option>
        <option value="Fri">Friday</option>
        <option value="Sat">Saturday</option>
        <option value="Sun">Sunday</option>
    </select>
</p>
<p>
    Property<br>
    {% if props %}
    <!-- <select name="properties"> -->
        {% for prop in props %}
        <option value="{{prop.id}}">{{prop}}</option>
        <input type="checkbox" id="{{prop.id}}" name="properties" value="{{prop.id}}">
        <!-- <label for="{{prop.id}}">{{prop}}</label> -->
        {% endfor %}    
    <!-- </select> -->
</p>  
    {% else %}
    <a href="{% url 'add_property'%}">Add a property first!</a>
    {% endif %}
<p>
    <button type="submit">Submit</button>
</p>
</form>

{% endblock %}