{% extends 'base.html' %} {% block content %}
<div class="container-sm p-3">

    <h3 class="my-3">Distribution Calendar</h3>
    <div class="p-2 form-control bg-secondary text-white bg-opacity-75 border border-secondary rounded">
        <div class="d-flex justify-content-center mt-3 mb-3">
            <iframe
                src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&showCalendars=0&showPrint=0&showTitle=0&showTz=0&showTabs=1&src=bWNtZW5hbWlucy5kaXN0cmlidXRpb25AZ21haWwuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23691426&color=%230F4B38"
                style="border-width:0" width="1000" height="600" frameborder="0" scrolling="yes"></iframe>
        </div>
    </div>
</div>
{% endblock %}