{% extends 'base.html' %} {% block content %}
<div class="container-sm p-4">

    <h3>Driver Contacts</h3>
    <div class="mb-4 p-4 form-control bg-secondary text-white bg-opacity-25 border border-secondary">
        {% for employee in drive_staff %}
        <p>
            {{ employee.last_name}}, {{ employee.first_name}} • {{ employee.phone_num}}
        </p>
        {% endfor %}
    </div>

    <h3>Brewer Contacts</h3>
    <div class="mb-4 p-4 form-control bg-secondary text-white bg-opacity-25 border border-secondary">
        {% for employee in brew_staff %}
        <p>
            {{ employee.last_name}}, {{ employee.first_name}} • {{ employee.phone_num}}
        </p>
        {% endfor %}
    </div>
</div>

{% endblock %}