{% extends 'base_form.html' %} {% block content %}
    <div class="container">
        <div class="d-flex my-4 justify-content-center">
            <div class="col-md-8 text-center">
                <h3> Welcome to McMenamins Distribution</h3>
                <p class="router mt-3"> Hello, {{ user_data.first_name }} {{ user_data.last_name }} from {{user_data.home_base.name }}</p>
            </div>
        </div>
        <div class="container">
            <div class="row my-4 justify-content-center">
                <div class="col-md-4 text-center">
                    <img src="/uploaded_files/images/pub.jpg" class="img-fluid">
                    <a class="router nav-link link-warning" href="/order_index">Pub Managers</a>
                </div>
                <div class="col-md-4 text-center">
                    <img src="/uploaded_files/images/drivers.jpg" class="img-fluid">
                    <a class="router nav-link link-warning" href="/index/">Drivers</a>
                </div>
                <div class="col-md-4 text-center">
                    <img src="/uploaded_files/images/brewers.jpg" class="img-fluid">
                    <a class="router nav-link link-warning" href="/index_inventory/">Brewers</a>
                </div>
                {% if user.is_authenticated and user.is_staff %}
                {% include 'distribution/admin.html' %}

                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}