{% extends 'base.html' %} {% block content %}
<a href='/index/'>Index</a><br><br>
<a href='/view_all_posts/'>Driver Log</a><br>
<div>
  <form action="{% url 'post_comment' article.id %}" method="POST">
    {% csrf_token %}
    <h3>Post a Comment</h3>
    <div>

      Comment<br>
      <textarea rows="3" name="content"></textarea></br>
      Date<br>
      <input type="date" name="date_posted" /><br/>
      {%if authors%}
      Author<br>
      <select name="author">
        {%for author in authors%}
        <option value="{{author.id}}">{{author}}</option>
        {% endfor %}
      </select><br><br>
      <button type="submit">Submit</button>
      {%else%}
      <a href="{% url 'register_author'%}">Register an author first!</a>
      {%endif%}
    </div>
  </form>
</div>
{% endblock %}