{% extends 'base_orders.html' %} {% block content %}
<div class="container p-3">
    <h3 class="mt-2"> Welcome to McMenamins Orders</h3>
    <div class="col-md-4">
        <form action="{% url 'brew_details' brew_prop.id %}" method="POST">
            {% csrf_token %}
            <h3>Place an Order</h3>
            <div>
                <div class="input-group mb-4">
                    <span class="input-group-text" id="inputGroup-sizing-default">Property</span>
                    <select name="property"
                        class="form-control bg-secondary text-white bg-opacity-50 border border-secondary"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        {% for prop in property %}
                        <option value="{{prop.id}}">{{prop.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text" id="inputGroup-sizing-default">Beer/Size</span>
                    <select name="beer"
                        class="form-control bg-secondary text-white bg-opacity-50 border border-secondary"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        {% for keg in keg_data %}
                        <option value="{{keg.id}}">{{keg.beer}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text">Quantity</span>
                    <input name="quantity" required
                        class="form-control bg-secondary text-white bg-opacity-50 border border-secondary"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                </div>
                <button type="submit" class="btn btn-outline-success">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}