{% extends 'base.html' %} {% block content %}
<div class="container-sm">
  <div class=p-2>
    <p>
    Weather: {{weather.main}}, {{weather.description}} Temp:{{main.temp}}° Low: {{main.temp_min}}°
    High:{{main.temp_max}}° Humidity: {{main.humidity}}%
    </p>
    <h3>{{ prop.name }}</h3>
    <img src="{{ prop.images.url }}" class="img-fluid">
    <h1 prop_num={{prop.id}} id="title"></h1>
    <p>
      {{ prop.address }}<br>
      {{ prop.city }}, {{ prop.state }} {{ prop.zipcode }}<br>
      Ph. {{ prop.phone_num }}
    </p>
    <p>
      Manager: {{ prop.manager }}<br>
      Brewer: {{ prop.brewer }}<br>
      Deliveries: {{ prop.delivery }}
    </p>

    <p>
      Notes:<br>
      {% for note in note_list %}
      • {{ note }}<br>
      {% endfor %}

    </p>

    <div id="map"></div><br>

    <a href="javascript:history.back()" class="btn btn-outline-success">Go Back</a>
  </div>
</div>
{% endblock %}