h3 {
    color:antiquewhite;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.router {
    font-size: 16pt;
    color:antiquewhite;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.bold {
    font-weight: bold;
}
body {
    background-image: url("/uploaded_files/images/bg_organic_small.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.alert {
    color:crimson;
}
#map {
    height: 400px;
    max-width: 600px;
    border-radius: 10px;
}
img {
    max-width: 1000px;
    border-radius: 8px;
}
/* nav {
    width: 100vw !important;
} */
.navbar {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
}