{% extends 'base_orders.html' %} {% block content %}
<div class="container">
    <div class="row my-2">
        <div class="col-md-12">
            <h3 class="my-3 text-center">Open Cart for {{ prop.name }} {{ order.keg_count}}</h3>
            <div class="table-responsive form-control rounded bg-black text-white bg-opacity-50 p-3 mb-2
                        border border-secondary mb-2">
                {% for order in order %}
                <table class="table text-white">
                    <thead>
                        <tr class="bg-info bg-opacity-50">
                            <th scope="col">Property</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Manager</th>
                            <th scope="col">Keg Total</th>
                            <th scope="col">Cart Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ order.property.name }} </td>
                            <td>{{ order.order_date }} </td>
                            <td>{{ order.manager.first_name }} {{order.manager.last_name}} </td>
                            <td>{{ order.keg_count}} </td>
                            <td>{{ order.cart_status }} </td>
                        </tr>
                        <thead>
                            <tr class="bg-success bg-opacity-50">
                                <th scope="col">Beer</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Brewery</th>
                                <th scope="col"></th>
                                <th scope="col">Order Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        {% for keg in order.order_items.all %}
                        <tr>
                            <td>{{ keg.beer }} </td>
                            <td>{{ keg.quantity }} </td>
                            <td>{{ keg.brewery }} </td>
                            <td></td>
                            <td>{{ keg.status }} </td>
                            <td><a href="{% url 'remove_item' keg.id order.id %}" method="POST"
                                class="btn btn-sm btn-danger">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="{% url 'close_cart' order.id %}" class="btn btn-sm btn-success">Submit Order</a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock%}
