{% extends 'base_orders.html' %} {% block content %}
<div class="container">
    <h3 class="my-3">Edit Cart</h3>
    <div class="d-flex my-4 justify-content-left">
        <form action="" method="POST">
            {% csrf_token %}
            
            <div class="input-group mb-4">
                <span class="input-group-text" id="inputGroup-sizing-default">Beer/Size</span>
                <input type="text" value="{{keg.beer}}" name="beer"
                    class="form-control bg-secondary text-white bg-opacity-50 border border-secondary"
                    value="{{keg.beer}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-4">
                <span class="input-group-text">Quantity *</span>
                <input name="quantity" value="{{keg.quantity}}"
                    class="form-control bg-secondary text-white bg-opacity-50 border border-secondary"
                    value="{{keg.quantity}}" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" />
            </div>
            
            <button type="submit" class="mb-4 btn btn-outline-success">Submit</button><br>
            <a href="javascript:history.back()" class="btn btn-outline-success">Back to Cart</a>
        </form>
    </div>
</div>

{% endblock %}