{% extends 'base_orders.html' %} {% block content %}
<div class="container">
    <h3 class="my-3 text-center">Welcome Pub & Property Managers</h3> 
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/uploaded_files/images/index_monroe_bar.jpg" class="d-block w-100" alt="Monroe">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>Monroe</h3>
                            </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/uploaded_files/images/index_pub_eagle.JPG" class="d-block w-100"
                            alt="White Ealge">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>White Eagle</h3>
                            </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/uploaded_files/images/index_pub_kalama.JPG" class="d-block w-100"
                            alt="Kalama">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>Kalama</h3>
                            </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/uploaded_files/images/index_pub_kennedy.JPG" class="d-block w-100"
                            alt="Kennedy School">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>Kennedy School</h3>
                            </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/uploaded_files/images/index_pub_moon.JPG" class="d-block w-100"
                            alt="Blue Moon">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>Blue Moon</h3>
                            </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/uploaded_files/images/index_pub_ringlers.JPG" class="d-block w-100"
                            alt="Ringlers">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>Ringlers</h3>
                            </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/uploaded_files/images/index_pub_T&P.JPG" class="d-block w-100"
                            alt="Tavern and Pool">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>Tavern and Pool</h3>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}