{% extends 'base_orders.html' %} {% block content %}
<div class="container p-3">
    <h3 class="mt-2 text-center"> Place Order from {{ brew_prop.name }} Brewery</h3>
    <div class="row my-4">
        <div class="col-md-4 mt-3">
            <form action="{% url 'place_order' brew_prop.id %}" method="POST">
                {% csrf_token %}
                <div>
                    <div class="input-group mb-4">
                        <span class="input-group-text" id="inputGroup-sizing-default">Beer/Size</span>
                        <select name="beer"
                            class="form-control bg-dark bg-opacity-75 text-white border border-secondary"
                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            {% for keg in keg_data %}
                            <option value="{{keg.id}}">{{keg.beer}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-4">
                        <span class="input-group-text">Quantity</span>
                        <input name="quantity"
                            class="form-control bg-dark bg-opacity-75 text-white border border-secondary"
                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                    </div>
                    <div class="input-group mb-4">
                        <span class="input-group-text">Notes</span>
                        <textarea class="form-control bg-dark bg-opacity-75 text-white border border-secondary"
                            rows="4" name="text" aria-label="With textarea"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-success">Add to Cart</button>

                </div>
            </form>
        </div>

        <div class="col-md-8 mb-3">
            <div class=" mt-3 table-responsive form-control rounded bg-black bg-opacity-75 text-white p-3 border border-secondary">
                <table class="table text-white">
                    <thead>
                        <tr class="bg-info bg-opacity-50">
                            <th scope="col">Beer/size</th>
                            <th scope="col">Brew Date</th>
                            <th scope="col">Category</th>
                            <th scope="col">Qty.</th>
                            <th scope="col">Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for kegs in keg_data %}
                        <tr>
                            <td> {{ kegs.beer }} </td>
                            <td> {{ kegs.brew_date }} </td>
                            <td> {{ kegs.category }} </td>
                            <td>{{ kegs.quantity }} </td>
                            <td> {{ kegs.updated }} </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12">
            {% if upcoming %}
            <h3>Beer Coming Soon</h3>
            <div
                class=" mt-3 mb-3 table-responsive form-control rounded bg-black bg-opacity-75 text-white p-3 border border-secondary">
                <table class="table text-white">
                    <thead>
                        <tr class="bg-info bg-opacity-50">
                            <th scope="col">Beer</th>
                            <th scope="col">Category</th>
                            <th scope="col">Finish Date</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for kegs in upcoming %}
                        <tr>
                            <td> {{ kegs.beer }} </td>
                            <td> {{ kegs.category }} </td>
                            <td> {{ kegs.finish_date }} </td>
                            <td> {{ kegs.description }} </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
    function myFunction() {
        alert("Keg(s) added to cart!");
    }
</script>
{% endblock %}