{% extends 'base_form.html' %} {% block content %}
<div class="container-sm">
    <div class="col-md-12 text-center">
        <h3>Distribution Contacts</h3>
    </div>

    <div class='router mb-2'>Administration</div>
    <div class="mb-3 p-3 form-control text-white bg-black bg-opacity-50 border border-secondary">
        <table class="table text-white">
            <thead>
                <tr class="bg-info bg-opacity-50">
                    <th scope="col">Employee</th>
                    <th scope="col">Property</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Phone Number</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in admin_staff %}
                <tr>
                    <td> {{ employee.last_name }}, {{ employee.first_name}} </td>
                    <td> {{ employee.home_base.name }} </td>
                    <td> {{ employee.email }} </td>
                    <td> {{ employee.phone_num }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class='router mb-2'>Brewers</div>
    <div class="mb-3 p-3 form-control text-white bg-black bg-opacity-50 border border-secondary">
        <table class="table text-white">
            <thead>
                <tr class="bg-info bg-opacity-50">
                    <th scope="col">Employee</th>
                    <th scope="col">Property</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Phone Number</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in brew_staff %}
                <tr>
                    <td> {{ employee.last_name }}, {{ employee.first_name}} </td>
                    <td> {{ employee.home_base.name }} </td>
                    <td> {{ employee.email }} </td>
                    <td> {{ employee.phone_num }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class='router mb-2'>Drivers</div>
    <div class="mb-3 p-3 form-control text-white bg-black bg-opacity-50 border border-secondary">
        <table class="table text-white">
            <thead>
                <tr class="bg-info bg-opacity-50">
                    <th scope="col">Employee</th>
                    <th scope="col">Property</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Phone Number</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in drive_staff %}
                <tr>
                    <td> {{ employee.last_name }}, {{ employee.first_name}} </td>
                    <td> {{ employee.home_base.name }} </td>
                    <td> {{ employee.email }} </td>
                    <td> {{ employee.phone_num }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class='router mb-2'>Brewery Managers</div>
    <div class="mb-3 p-3 form-control text-white bg-black bg-opacity-50 border border-secondary">
        <table class="table text-white">
            <thead>
                <tr class="bg-info bg-opacity-50">
                    <th scope="col">Employee</th>
                    <th scope="col">Property</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Phone Number</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in brew_manager %}
                <tr>
                    <td> {{ employee.last_name }}, {{ employee.first_name}} </td>
                    <td> {{ employee.home_base.name }} </td>
                    <td> {{ employee.email }} </td>
                    <td> {{ employee.phone_num }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class='router mb-2'>Distribution Managers</div>
    <div class="mb-3 p-3 form-control text-white bg-black bg-opacity-50 border border-secondary">
        <table class="table text-white">
            <thead>
                <tr class="bg-info bg-opacity-50">
                    <th scope="col">Employee</th>
                    <th scope="col">Property</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Phone Number</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in dist_manager %}
                <tr>
                    <td> {{ employee.last_name }}, {{ employee.first_name}} </td>
                    <td> {{ employee.home_base.name }} </td>
                    <td> {{ employee.email }} </td>
                    <td> {{ employee.phone_num }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class='router mb-2'>Pub Managers</div>
    <div class="mb-3 p-3 form-control text-white bg-black bg-opacity-50 border border-secondary">
        <table class="table text-white">
            <thead>
                <tr class="bg-info bg-opacity-50">
                    <th scope="col">Employee</th>
                    <th scope="col">Property</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Phone Number</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in pub_manager %}
                <tr>
                    <td> {{ employee.last_name }}, {{ employee.first_name}} </td>
                    <td> {{ employee.home_base.name }} </td>
                    <td> {{ employee.email }} </td>
                    <td> {{ employee.phone_num }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button onclick="history.back()" type="submit" class="btn btn-outline-success">Go Back</button>
</div>

{% endblock %}