{% extends 'base_user.html' %} {% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="d-flex my-4">
        <div class="col-md-12 text-center">
            <h3> User Creation Form</h3>
        </div>
    </div>

    <div class="d-flex my-4 justify-content-center">
        <div>
            <div class="col-md-6 p-4 form-control text-white bg-black bg-opacity-50 border border-secondary">
                <form action="{% url 'create_user' %}" method="POST">

                    {% csrf_token %}
                    {{ form|crispy }}

                    <div class="my-3">
                        <button type="submit" class="btn btn-outline-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        {%if messages%}
        {%for message in messages%}
        <div class=alert {{message.tags}}>
            {{message}}
        </div>
        {%endfor%}
        {%endif%}
    </div>
</div>
{% endblock %}