{% extends 'base_user.html' %} {% block content %}
<div class="container p-3">
    <h3 class="mt-2 text-center"> Distribution Keg Orders</h3>
    <div class="row my-4">
        <div class="col-md-12">
            {% for order in orders reversed %}
            <div class="col-md-12 table-responsive form-control rounded bg-black bg-opacity-50 text-white p-3 mb-2
            border border-secondary mb-2">
                <table class="table text-white">
                    <thead>
                        <tr class="bg-info bg-opacity-50">
                            <th scope="col">Property</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Manager</th>
                            <th scope="col">Upadated</th>
                            <th scope="col">Keg Total</th>
                            <th scope="col">Cart Status</th>
                            <th scope="col">Order Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ order.property.name }} </td>
                            <td>{{ order.order_date }} </td>
                            <td>{{ order.manager.first_name }} {{order.manager.last_name}} </td>
                            <td>{{ order.updated}} </td>
                            <td>{{ order.keg_count }} </td>
                            <td>{{ order.cart_status }} </td>
                            <td>{{ order.status }} </td>
                        </tr>
                        <thead>
                            <tr class="bg-success bg-opacity-50">
                                <th scope="col">Beer</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Brewery</th>
                                <th scope="col">Upadated</th>
                                <th></th>
                                <th></th>
                                <th scope="col">Keg Status</th>
                            </tr>
                        </thead>
                        {% for keg in order.order_items.all %}
                        <tr>
                            <td>{{ keg.beer }} </td>
                            <td>{{ keg.quantity }} </td>
                            <td>{{ keg.brewery }} </td>
                            <td>{{ keg.updated }} </td>
                            <th></th>
                            <th></th>
                            <td>{{ keg.status }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ order.notes }}
            </div>
            <a href="{% url 'close_order' order.id %}" class="btn btn-sm btn-success mb-4">Order Delivered</a>
            <a href="{% url 'archive_order' order.id %}" class="btn btn-sm btn-warning mb-4">Archive Order</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}