{% extends 'base_form.html' %} {% block content %}
    <div class="container">
        <div class="d-flex mb-2 mt-3 justify-content-center">
            <div class="col-md-12 text-center">
                <h3> User Profile Creation</h3>
            </div>
        </div>

        <div class="d-flex my-2 justify-content-center">
            <form action="{% url 'create_profile' user.id%}" method="POST">
                {% csrf_token %}
                <div class="row my-4">
                    <div class="col-md-12 text-center">
                        <div class="input-group mb-4">
                            <span class="input-group-text" id="inputGroup-sizing-default">First Name</span>
                            <input type="text" name="first_name" class="form-control bg-secondary text-white bg-opacity-25" required
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                value='{{user_info.first_name}}'>
                        </div>
                        <div class="input-group mb-4">
                            <span class="input-group-text" id="inputGroup-sizing-default">Last Name</span>
                            <input type="text" name="last_name" class="form-control bg-secondary text-white bg-opacity-25" required
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                value='{{user_info.last_name}}'>
                        </div>
                        <div class="input-group mb-4">
                            <span class="input-group-text" id="inputGroup-sizing-default">Phone Number</span>
                            <input type="text" placeholder='123-456-7890' name="phone_num" class="form-control bg-secondary text-white bg-opacity-25" required
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-4">
                            <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                            <input type="email" name="email" class="form-control bg-secondary text-white bg-opacity-25" required
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                value='{{user_info.email}}'>
                        </div>
                        <div class="input-group mb-4">
                            <span class="input-group-text" id="inputGroup-sizing-default">Property</span>
                            <select name="home_base"
                                class="form-control bg-secondary text-white bg-opacity-50 border border-secondary"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                <option>Select</option>
                                {% for prop in props %}
                                <option value="{{prop.id}}">{{prop.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-4">
                            <span class="input-group-text" id="inputGroup-sizing-default">Job Title</span>
                            <select name="job_title"
                                class="form-control bg-secondary text-white bg-opacity-50 border border-secondary" required
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                <option >Select</option>
                                <option value="Administration">Administration</option>
                                <option value="Brewer">Brewer</option>
                                <option value="Driver">Driver</option>
                                <option value="Manager, Brewery">Manager, Brewery</option>
                                <option value="Manager, Distribution">Manager, Distribution</option>
                                <option value="Manager, Pub">Manager, Pub</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-outline-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}